.container {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------*/
/*---   ---   HEADER   ---   ---*/
/*---------------------------------*/
.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: white;
    text-align: center;
}
.logo {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.logo-top, .architech {
    margin-top: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.architech:hover {
    color: #18B4CF;
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;
    margin: auto 0;
}

.menu > a {
    margin-right: 35px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}
.menu > a:hover {
    color: #1c93a8;
}
.search {
    width: 20px;
    text-decoration: none;
    padding: 26px;
    background-color: black;
    color: #f9f7f7;
}
.heading-h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}
.heading-h4 {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
}

/*---------------------------------*/
/*---   ---   SUBSCRIBE   ---   ---*/
/*---------------------------------*/
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../Images/Flexbox/html_css_homework_homework6_img_header-bg.jpeg") no-repeat bottom fixed;
    /*background: url("../Images/Flexbox/header-background.png") no-repeat center center fixed;*/
    background-size: cover;
    color: white;
}
.subscribe a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.last-news-buttons {
    margin: 44px 0 74px 0;
}
.button-subscribe {
    background-color: #89ca62;
    padding: 16px 19px;
    margin-right: 20px;
}
.button-articles {
    background-color: #15b9d5;
    padding: 16px 30px;
    margin-left: 20px;
}
.subscribe h2 {
    margin: 0;
    padding-top: 165px;
}
/*---------------------------------------*/
/*---   ---   POPULAR CLIENTS   ---   ---*/
/*---------------------------------------*/
.popular-clients {
    width: 100%;
    background: url("../Images/Flexbox/html_css_homework_homework6_img_parallax-bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding-top: 156px;
    text-transform: uppercase;
}
.clients {
    /*display: flex;*/
    /*justify-content: center;*/

    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: repeat(4, auto);
    justify-content: center;

}
.clients > a {
    margin: 200px 0;
}
/*----------------------------------------------*/
/*---   ---   box-most-popular-posts   ---   ---*/
/*----------------------------------------------*/
.box-most-popular-posts {
    /*background-color: #f9f7f7;*/
    background-color: #E5E5E5;
}
.box-most-popular-posts h4 {
    text-align: center;
    margin: 0;
    padding: 50px 0;
}
.most-popular-posts {
    text-align: center;
    /*width: 100%;*/
    width: 1170px;
    height: 835px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 72px;
}
.most-popular-posts-item {
    width: 370px;
    margin: 0 10px 30px 10px;
}
.most-popular-posts-item > a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #f9f7f7;
}
.span-decor {
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}
.top-rated-hot-news {
    display: grid;
    font-family: 'Open Sans', sans-serif;
}
.top-reated {
    display: grid;
    grid-gap: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    grid-template-rows: auto;
    overflow-x: hidden;

    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
}

/*--------------------------------*/
/*---   ---   HOT NEWS   ---   ---*/
/*--------------------------------*/
.hot-news {
    text-align: center;
    margin: 0 auto;
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    /*align-items: center;*/
    justify-content: center;
    grid-template-areas:
    "emirate emirate emirate spain"
    "egypt egypt maldives maldives"
    "tenerife tenerife britaine britaine"
    "ireland spain-resort spain-resort spain-resort";
}
.hot-news > div:hover {
    cursor: pointer;
}
/*.hot-news > div > div > h5 {*/
.heading-h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin-bottom: 14px;
    margin-top: 10px;
    padding-right: 27px;
}

.emirate {
    grid-area: emirate;
}
.spain {
    grid-area: spain;
}
.egypt {
    grid-area: egypt;
}
.maldives {
    grid-area: maldives;
}
.tenerife {
    grid-area: tenerife;
}
.britaine {
    grid-area: britaine;
}
.ireland {
    grid-area: ireland;
}
.spain-resort {
    grid-area: spain-resort;
}
.emirate, .spain, .egypt, .maldives, .tenerife, .britaine,.spain-resort {
    display: flex;
    justify-content: flex-start;
}
.egypt, .maldives, .tenerife, .britaine {
    flex-direction: column;
}
.description {
    background-color: #f9f7f7;
}
/*.description p {*/
/*text-align: right;*/
/*font-weight: 600;*/
/*font-size: 14px;*/
/*line-height: 21px;*/
/*}*/
.paragraph {
    margin: 0;
    padding: 0 14px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.small-box p {
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}



/*------------------------------*/
/*---   ---   footer   ---   ---*/
/*------------------------------*/
.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    background-color: black;
}
.footer > p {
    margin: 0;
    font-size: 13px;
    color: white;
    padding: 30px 0 25px 0;
}


/*-----------------------*/
/*---все иконки и лого---*/
/*-----------------------*/
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../Images/Flexbox/css_sprites.png") no-repeat;
    margin: 0;
}
.top-icon {
    width: 50px;
    background-position: 0 -10px;
    margin-left: 16px;
    margin-top: 22px;
}
.nat-post {
    width: 210px;
    height: 50px;
    background-position: -515px 0;
}
.dryme {
    width: 140px;
    height: 50px;
    background-position: -190px -10px;
}
.house-home {
    width: 240px;
    height: 50px;
    background-position: -737px -13px;
}
.journy {
    width: 150px;
    height: 50px;
    background-position: -350px -10px;
}
.liot {
    margin-top: 25px;
    width: 140px;
    height: 30px;
    background-position: -55px -8px;
}

